<div class="details" *ngIf="book">
  <h2>{{ book.title }}</h2>
  <h3 *ngIf="book.subtitle">{{ book.subtitle }}</h3>
  <div class="header">
    <div>
      <h4>Authors</h4>
      <ng-container *ngFor="let author of book.authors">
        {{ author }}<br>
      </ng-container>
    </div>
    <div>
      <h4>ISBN</h4>
      {{ book.isbn | isbn }}
    </div>
    <div *ngIf="book.published">
      <h4>Published</h4>
      {{ book.published | date:'longDate' }}
    </div>
  </div>
  <h3>Description</h3>
  <p>{{ book.description }}</p>
  <div class="thumbnails">
    <img *ngIf="book.thumbnailUrl"
      [src]="book.thumbnailUrl"
      alt="Cover">
  </div>

  <a class="button arrow-left" routerLink="..">Back to list</a>

  <ng-container *bmLoggedinOnly>
    <button class="red" bmConfirm="Remove book?" (confirm)="removeBook()">
      Remove book
    </button>

    <a class="button"
      [routerLink]="['/admin/edit', book.isbn]">
      Edit book
    </a>
  </ng-container>
</div>
